# Australian Radio Talkback Corpus Presentation

In [1]:
%pprint

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import nltk
import pandas as pd

## Reading in Data Frames

In [7]:
# reading in data frames
speaker_df=pd.read_csv("data_files/Speakers.csv")
art_df=pd.read_csv("data_files/Texts.csv")
bk_df=pd.read_csv("data_files/Back_Channels.csv")

# speaker_df.head()
# art_df.head()
# bk_df.head()

## Data Frames:

- speaker_df
    - data frame of all unique speakers
- art_df
    - data frame of each line of text
- bk_df
    - data frame of all back channels

In [8]:
# modifying data frame column names
speaker_df.columns = ["Speaker","Segment","Speaker_Type","Gender","Name","Number_of_Utterances"]
speaker_df = speaker_df.set_index("Speaker")
speaker_df.head()

art_df.columns = ["Speaker","Utterance_Number","Segment","Speaker_Type","Text","Word_Toks","Num_Words","Avg_Word_Length","Sents","Num_Sents"]
art_df = art_df.set_index(keys=["Speaker","Utterance_Number"])
art_df.head()

bk_df.columns = ["","Speaker","Speaker_Type","Back_Channel","Line_Speaker","Segment_Utterance_Number","Segment","Line_Speaker_Type"]
bk_df = bk_df.set_index("")
bk_df.head()

          Segment Speaker_Type Gender     Name  Number_of_Utterances
Speaker
ABCE1-C1    ABCE1            C      F  Suzanne                    17
ABCE1-C10   ABCE1            C      F     Beth                    17
ABCE1-C11   ABCE1            C      F    Lynne                    10
ABCE1-C12   ABCE1            C      M     Jack                    12
ABCE1-C2    ABCE1            C      F     Lisa                    13

,,Segment,Speaker_Type,Text,Word_Toks,Num_Words,Avg_Word_Length,Sents,Num_Sents
Speaker,Utterance_Number,,,,,,,,
ABCE1-P1,1,ABCE1,P,Thanks for that John Hall now John Hall will b...,"['Thanks', 'for', 'that', 'John', 'Hall', 'now...",80,4.700000,"[""Thanks for that John Hall now John Hall will...",2
ABCE1-E1,2,ABCE1,E,I guess yeah yeah <laughs>.,"['I', 'guess', 'yeah', 'yeah', '.']",5,3.000000,['I guess yeah yeah .'],1
ABCE1-P1,3,ABCE1,P,He's also known <E1 sounds reasonable> for his...,"['He', ""'s"", 'also', 'known', 'for', 'his', 'a...",159,5.062893,"[""He's also known for his ability to open cos...",3
ABCE1-E1,4,ABCE1,E,Okay.,"['Okay', '.']",2,2.500000,['Okay.'],1
ABCE1-P1,5,ABCE1,P,Jeanne Villani does and we'll find out the sec...,"['Jeanne', 'Villani', 'does', 'and', 'we', ""'l...",50,3.980000,"[""Jeanne Villani does and we'll find out the s...",1

,Speaker,Speaker_Type,Back_Channel,Line_Speaker,Segment_Utterance_Number,Segment,Line_Speaker_Type
,,,,,,,
0,ABCE1-E1,E,sounds reasonable,ABCE1-P1,3,ABCE1,P
1,ABCE1-C1,C,laughs,ABCE1-P1,10,ABCE1,P
2,ABCE1-P1,P,yes,ABCE1-C1,11,ABCE1,C
3,ABCE1-E1,E,mm,ABCE1-C1,11,ABCE1,C
4,ABCE1-E1,E,mm,ABCE1-C1,11,ABCE1,C

### Speakers Split by Role:

In [14]:
# dataframe of presenters
P_df=speaker_df.loc[speaker_df["Speaker_Type"]=='P',:]

# dataframe of callers
C_df=speaker_df.loc[speaker_df["Speaker_Type"]=='C',:]

# dataframe of experts
E_df=speaker_df.loc[speaker_df["Speaker_Type"]=='E',:]

In [15]:
P_df
C_df.head()
E_df

,Segment,Speaker_Type,Gender,Name,Number_of_Utterances
Speaker,,,,,
ABCE1-P1,ABCE1,P,M,Simon Marnie,155
ABCE2-P1,ABCE2,P,M,Simon Marnie,233
ABCE3-P1,ABCE3,P,F,Lynne Haultain,129
ABCE3-P2,ABCE3,P,F,Jurate Sasnaitis,56
ABCE4-P1,ABCE4,P,F,Kelly Higgins-Devine,23
ABCNE1-P1,ABCNE1,P,M,Trevor Jackson,64
ABCNE2-P1,ABCNE2,P,M,Trevor Jackson,58
COME1-P1,COME1,P,M,Luke Bona,67
COME2-P1,COME2,P,M,Luke Bona,68
COME3-P1,COME3,P,M,Luke Bona,61
COME5-P1,COME5,P,M,Spencer,65
COME5-P2,COME5,P,F,Sharina,491

          Segment Speaker_Type Gender     Name  Number_of_Utterances
Speaker
ABCE1-C1    ABCE1            C      F  Suzanne                    17
ABCE1-C10   ABCE1            C      F     Beth                    17
ABCE1-C11   ABCE1            C      F    Lynne                    10
ABCE1-C12   ABCE1            C      M     Jack                    12
ABCE1-C2    ABCE1            C      F     Lisa                    13

          Segment Speaker_Type Gender            Name  Number_of_Utterances
Speaker
ABCE1-E1    ABCE1            E      M   Angus Stewart                   139
ABCE1-E2    ABCE1            E      F  Jeanne Villani                    27
ABCE2-E1    ABCE2            E      M             Les                   192
ABCE2-E2    ABCE2            E      M            Pete                   166
ABCE2-E3    ABCE2            E      M       John Hall                     6
ABCE4-E1    ABCE4            E      M    Ric Nattrass                    53
ABCNE1-E1  ABCNE1            E      M     Roly Sussex                    74
ABCNE2-E1  ABCNE2            E      M     Greg Kerrin                   104
COME1-E1    COME1            E      F      Linda Ross                   294
COME1-E2    COME1            E      M   Rodian Booker                    11
COME2-E1    COME2            E      M     Mark Moraza                    89
COME3-E1    COME3            E      M      Doctor Gra                   216
COME3-E2    COME3            E      F      Jan Toomie                    18
COME3-E3    COME3            E      M   Dennis Cherry                    22
COME5-E1    COME5            E      F        Siobhana                    32
COME5-E2    COME5            E      F     Kate Curzon                    21